{% extends "baza.html" %}
{% block title %}
О нас
{% endblock %}



{% block body %}



<ul>
    <li><strong>Главные роли исполнили:</strong></li>
    <li>Тоби Магуайр — <em>Питер Паркер / Человек-паук</em></li>
    <li>Уиллем Дефо — <em>Зелёный гоблин (Норман Осборн)</em></li>
    <li>Кирстен Данст — <em>Мэри Джейн Уотсон</em></li>
    <li>Джеймс Франко — <em>Гарри Осборн</em></li>
    <li>Клифф Робертсон — <em>Бен Паркер</em></li>
    <li>Розмари Харрис — <em>Мэй Паркер (тётя Питера)</em></li>

    <li><strong>Среди других заметных актёров:</strong></li>
    <li>Дж. К. Симмонс — <em>Джей Джона Джеймсон, главный редактор газеты Daily Bugle</em></li>
    <li>Джо Манганьелло — <em>Флэш Томпсон, школьный хулиган</em></li>
    <li>Рон Перкинс — <em>доктор Мендель Штромм, ведущий учёный Oscorp</em></li>
    <li>Билл Нанн — <em>Джозеф «Робби» Робертсон, редактор Daily Bugle</em></li>
    <li>Элизабет Бэнкс — <em>Бетти Брант, секретарша Джеймсона</em></li>
    <li>Брюс Кэмпбелл — <em>ведущий подпольных боёв</em></li>
    <li><em>Фильм режиссёра Сэма Рэйми основан на комиксах Marvel о Человеке-пауке</em></li>
</ul>



{% endblock %}