<!DOCTYPE html>

<html lang="en" xmlns="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <meta http-equiv = "X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title> Поиск работы </title>


</head>
<body>
<div class="album py-5 bg-body-tertiary">
        <div class="container">

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                  <p class="card-text"><ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="This is a wider card with supporting text below as a natural lead-in to additional content. " data-translation="Это более широкая карточка с сопроводительным текстом внизу, который естественным образом подводит к дополнительному контенту. " data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Это более широкая карточка с сопроводительным текстом внизу, который естественным образом подводит к дополнительному контенту. </ya-tr-span><ya-tr-span data-index="3-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="This content is a little bit longer." data-translation="Этот контент немного длиннее." data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Этот контент немного длиннее.</ya-tr-span></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><ya-tr-span data-index="4-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="View" data-translation="Вид" data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Вид</ya-tr-span></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><ya-tr-span data-index="4-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Edit" data-translation="Редактировать" data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Редактировать</ya-tr-span></button>
                    </div>
                    <small class="text-body-secondary"><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="9 mins" data-translation="9 минут" data-ch="0" data-type="trSpan" style="visibility: inherit !important;">9 минут</ya-tr-span></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                  <p class="card-text">Это более широкая карточка с сопроводительным текстом внизу, который естественным образом подводит к дополнительному контенту. Этот контент немного длиннее.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Вид</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                    </div>
                    <small class="text-body-secondary">9 минут</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                  <p class="card-text">Это более широкая карточка с сопроводительным текстом внизу, который естественным образом подводит к дополнительному контенту. Этот контент немного длиннее.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Вид</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                    </div>
                    <small class="text-body-secondary">9 минут</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                  <p class="card-text"><ya-tr-span data-index="6-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="This is a wider card with supporting text below as a natural lead-in to additional content. " data-translation="Это более широкая карточка с сопроводительным текстом внизу, который естественным образом подводит к дополнительному контенту. " data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Это более широкая карточка с сопроводительным текстом внизу, который естественным образом подводит к дополнительному контенту. </ya-tr-span><ya-tr-span data-index="6-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="This content is a little bit longer." data-translation="Этот контент немного длиннее." data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Этот контент немного длиннее.</ya-tr-span></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><ya-tr-span data-index="7-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="View" data-translation="Вид" data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Вид</ya-tr-span></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><ya-tr-span data-index="7-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Edit" data-translation="Редактировать" data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Редактировать</ya-tr-span></button>
                    </div>
                    <small class="text-body-secondary"><ya-tr-span data-index="8-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="9 mins" data-translation="9 минут" data-ch="0" data-type="trSpan" style="visibility: inherit !important;">9 минут</ya-tr-span></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                  <p class="card-text">Это более широкая карточка с сопроводительным текстом внизу, который естественным образом подводит к дополнительному контенту. Этот контент немного длиннее.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Вид</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                    </div>
                    <small class="text-body-secondary">9 минут</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                  <p class="card-text">Это более широкая карточка с сопроводительным текстом внизу, который естественным образом подводит к дополнительному контенту. Этот контент немного длиннее.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Вид</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                    </div>
                    <small class="text-body-secondary">9 минут</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                  <p class="card-text"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="This is a wider card with supporting text below as a natural lead-in to additional content. " data-translation="Это более широкая карточка с сопроводительным текстом внизу, который естественным образом подводит к дополнительному контенту. " data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Это более широкая карточка с сопроводительным текстом внизу, который естественным образом подводит к дополнительному контенту. </ya-tr-span><ya-tr-span data-index="9-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="This content is a little bit longer." data-translation="Этот контент немного длиннее." data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Этот контент немного длиннее.</ya-tr-span></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><ya-tr-span data-index="10-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="View" data-translation="Вид" data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Вид</ya-tr-span></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><ya-tr-span data-index="10-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Edit" data-translation="Редактировать" data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Редактировать</ya-tr-span></button>
                    </div>
                    <small class="text-body-secondary"><ya-tr-span data-index="11-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="9 mins" data-translation="9 минут" data-ch="0" data-type="trSpan" style="visibility: inherit !important;">9 минут</ya-tr-span></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                  <p class="card-text">Это более широкая карточка с сопроводительным текстом внизу, который естественным образом подводит к дополнительному контенту. Этот контент немного длиннее.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Вид</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                    </div>
                    <small class="text-body-secondary">9 минут</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                  <p class="card-text">Это более широкая карточка с сопроводительным текстом внизу, который естественным образом подводит к дополнительному контенту. Этот контент немного длиннее.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Вид</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                    </div>
                    <small class="text-body-secondary">9 минут</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>